[submodule "themes/holy"]
	path = themes/holy
	url = https://github.com/serkodev/holy.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
